
backend/Eventza/src/main/resources/Files/
backend/Eventza/src/main/resources/eventza.trace.db
backend/Eventza/src/main/resources/eventza.mv.db
backend/Eventza/src/main/resources/application.properties
