.SlideShow{
    margin-top:100px;
    width: 100%;
}
.div{
    width:80%;
     margin:auto;
    background-color: white;
}
.cards{
   background-color: crimson;
   height:250px;
   width:150px;
   margin: auto;
}