
.Front {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .Back {
    background-color: #293347;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 2px solid crimson;
  }