.Wishlist{
    color:white;
    padding :20px;
    text-align: center;
}
.showitem{
    padding: 20px;
    height:400px;
    background-image: url('https://in.bmscdn.com/webin/profile/user-profile.png');
}

.Registeredcard{
    text-align: left;
    position: relative;
    padding: 5px 20px;
    margin-bottom: 20px;
    color:rgb(31,31,31);
    background-color: rgb(253,253,254);
    height:110px
}
.Link:hover{
   text-decoration: none;
}
.Datetime i {
    color:rgb(28, 50, 102);
}
.Cancel{
    font-size: 12px;
    color:white;
    background-color: rgb(165, 7, 7);
    position: absolute;
    bottom: 20px;
    right:20px;
    padding: 5px 12px;
    border-radius: 5px;
}

@media(max-width:500px)
{
    .Cancel{
        
        position: unset;
    }
    .Registeredcard{
        text-align: center;
        
        height: 150px;
    }
}